{
    "endpoint": "{{ endpoint }}",
    "secret_key": "{{ secret_key }}",
    "agent_id": "{{ agent_id }}",
    "labels": "{{ labels }}",
    "tlscert": "{{ tlscert }}",
    "tlskey": "{{ tlskey }}",
    "cacert": "{{ cacert }}",
    "insecure_skip_verify": {{ insecure_skip_verify }}
}
