# Managed by Ansible. Changes to this file will result in
# reconfiguration when Ansible is executed.
#
endpoint: "{{ endpoint }}"
secret_key: "{{ secret_key }}"
agent_id: "{{ agent_id }}"
labels: "{{ labels }}"
tls_config:
  {%- if tlscert != "" -%}
  cert_file: "{{ tlscert }}"
  {%- end %-}
  {%- if tlskey != "" -%}
  key_file: "{{ tlskey }}"
  {%- end %-}
  {%- if cacert != "" -%}
  ca_file: "{{ cacert }}"
  {%- end %-}
  {%- if tlscert == True -%}
  insecure_skip_verify: true
  {%- end %-}
