[Unit]
[Service]
Environment=OPAMP_ENDPOINT={{ endpoint }}
Environment=OPAMP_SECRET_KEY={{ secret_key }}
{% if labels != '' %}
Environment=OPAMP_LABELS={{ labels }}
{% endif %}
{% if tlscert != '' %}
Environment=OPAMP_TLS_CERT={{ tlscert }}
{% endif %}
{% if tlskey != '' %}
Environment=OPAMP_TLS_KEY={{ tlskey }}
{% endif %}
{% if cacert != '' %}
Environment=OPAMP_TLS_CA={{ cacert }}
{% endif %}
{% if insecure_skip_verify %}
Environment=OPAMP_TLS_SKIP_VERIFY=true
{% endif %}
